@page
@model CarManagerP.Pages.Booking.BookingInfoModel
@{
    ViewData["Title"] = "BookingInfo";
}

<h1>BookingInfo Page</h1>
<p>Welcome to see the BookingInfo Details page to Learn about something of Us!</p>
<form method="post">
    <table class="table">
        <thead>
              <tr>
                    <th>订单编号</th>
                    <th>身份证号</th>
                    <th>客人姓名</th>
                    <th>手机号码 </th>
                    <th>租用车辆编号</th>
                    <th>取车时间</th>
                    <th>预约还车时间</th>
                    <th>押金（元）</th>
                    <th>实际还车时间 </th>
                    <th> 应缴费用（元）</th>
                    <th>实缴费用（元）</th>
              </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.bookIngInfos)
            {
            <tr>
                <td>
                    @Html.DisplayFor(t => item.BookingId)
                </td>
                <td>
                    @Html.DisplayFor(t => item.IdentityId)
                </td>
                <td>
                    @Html.DisplayFor(t => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(t => item.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(t => item.CarId)
                </td>
                <td>
                    @Html.DisplayFor(t => item.FetchTime)
                </td>
                <td>
                    @Html.DisplayFor(t => item.ReturnTime)
                </td>
                <td>
                    @Html.DisplayFor(t => item.Deposit)
                </td>
                <td>
                    @Html.DisplayFor(t => item.ActualReturnTime)
                </td>
                <td>
                    @Html.DisplayFor(t => item.DeservePrice)
                </td>
                <td>
                    @Html.DisplayFor(t => item.ActualPrice  )
                </td>
            </tr>
            }
        </tbody>
    </table>
</form>