@page
@model CarManagerP.Pages.CarDetails.BookInfoModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>CarDetails</h1>
<a asp-page="Create">Add New</a>


<form>
    <p>
        Title: <input type="text" asp-for="@Model.SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>车辆编号</th>
                <th>车牌号</th>
                <th>车辆类型编码</th>
                <th>车辆名称</th>
                <th>排挡方式/th>
                <th>每日租金</th>
                <th>出租状态</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CarDetails)
            {
            <tr>
                <td>
                    @Html.DisplayFor(t => item.CarNum)
                </td>
                <td>
                    @Html.DisplayFor(t => item.CarPlateId)
                </td>
                <td>
                    @Html.DisplayFor(t => item.CarType)
                </td>
                <td>
                    @Html.DisplayFor(t => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(t => item.GearType)
                </td>
                <td>
                    @Html.DisplayFor(t => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(t => item.State)
                </td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.CarNum">Edit</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

</form>
